@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* { 
    background: #0F0B33;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
body {
    padding: 20px 100px 20px 100px;   
}

@media screen and (max-width: 639px)  {
    html, body{
        max-width: 100vh;
        overflow-x: hidden;
    }
    body {
        padding: 2.1rem;
    } 
}
swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: white !important;
    opacity: 1;
    background: #FFFF !important;
   /*  border: 1px solid black; */
    float: right;
  }
  
  .swiper-pagination-bullet-active {
    width: 20px;
    height: 8px;
    background: white;
    border-radius: 20px;
    transition :width 0.5s ;
  }